.TopBar {
    display: flex;
    height: 72px;
    align-items: center;
}

.TopBar-Navigation {
    margin-left: 128px;
    /* height: 32px; */
}

.TopBar-Extra {
    /* margin-left: 128px; */
    justify-content: end;
    display: flex;
}

.TopBar-ButtonUsual {
    height: 32px;
    border-radius: 0px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
}

.TopBar-ButtonUsual:hover {
    height: 32px;
    box-shadow: 0px -6px 0 #003CC5 inset;
}

.TopBar-ButtonArrow {
    height: parent;
}